body {
    display: flex;
    justify-content: center;
    background-color: #9ccbcb;
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    height: 600px;
    width: 400px;
    padding: 32px;
    background-color: #e2e2e2;
    border-radius: 16px;
    border: 2px solid black;
    margin-top: 128px;
}

#screen {
    height: 18%;
    color: #0F380F;
    background-color: #CADC9F;
    border: 2px solid black;
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
}

#top-display {
    font-size: 24px;
    text-align: end;
    margin-top: 16px;
    
}

#bottom-display {
    font-size: 42px;
    text-align: end;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#spacer {
    height: 2%;
}

#buttons {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    flex: 1;
    gap: 8px;
}

.btn {
    width: 94px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #444245;
    color: #F5F5F5;
}

.operator,
#equals {
    background-color: #97275f;
}

.operator:hover,
#equals:hover {
    background-color: #802150;
}

.operator:active,
#equals:active {
    background-color: #6d1e45;
}

#clear {
    width: 298px;
    background-color: #888888;
}

#clear:hover {
    background-color: #7a7a7a;
}

#clear:active {
    background-color: #666666;
}

#zero {
    width: 196px;
}

.number:hover,
#decimal:hover {
    background-color: #353436;
}

.number:active,
#decimal:active {
    background-color: #252425;
}