body {
    display: flex;
    justify-content: center;
    background-color: #9ccbcb;
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    height: 600px;
    width: 400px;
    padding: 32px;
    background-color: #e2e2e2;
    border-radius: 16px;
    border: 2px solid black;
    margin-top: 64px;
}

#screen {
    height: 18%;
    color: #0F380F;
    background-color: #CADC9F;
    border: 2px solid black;
    border-radius: 8px;
    padding-right: 16px;
}

#top-screen {
    font-size: 24px;
    text-align: end;
    margin-top: 16px;
    
}

#bottom-screen {
    font-size: 42px;
    text-align: end;
    margin-top: 8px;
}

#spacer {
    height: 2%;
}

#buttons {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    flex: 1;
    gap: 8px;
}

.button,
.operation {
    width: 94px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.button {
    background-color: #444245;
    color: #F5F5F5;
}

.operation {
    background-color: #97275f;
    color: #F5F5F5;
}

#clear {
    width: 298px;
    background-color: #888888;
}

#zero {
    width: 196px;
}